Value Required LINE_NUM (.*)
Value EXEC_TIME (\d+)
Value PREF_TRANSPORT (\w+)
Value TRANSPORT_INPUT (.+)
Value LOGI_AUTH (.+)

Start
	^line con ${LINE_NUM}
	^\s+exec-timeout ${EXEC_TIME} \d+
	^\s+transport preferred ${PREF_TRANSPORT}
	^\s+transport input ${TRANSPORT_INPUT}
	^\s+login authentication ${LOGI_AUTH}
	^line -> Record
