Value DESTINATION_ADDRESS (\w+\.\w+\.\w+)
Value TYPE (\w+)
Value VLAN (\S+)
Value DESTINATION_PORT (\S+)

Start
  ^Vlan\s+Mac Address\s+Type\s+Ports\s*
  ^\s+${VLAN}\s+${DESTINATION_ADDRESS}\s+${TYPE}\s+${DESTINATION_PORT} -> Record